
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
  body {
    font-family: 'HarmoniaSansProCyr-Regular', Arial, sans-serif;
    color: #58402c;
  }
    li{
      list-style: none;
    }

    a {
        text-decoration: none;
        color: #58402c;
        &:hover {
          color: $blu;
      }
    }
}
